*{
  padding: 0;
  margin: 0;
  font-family: 'Didact Gothic', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 60vh;
  width: auto;
  /* background-image: url("https://image.freepik.com/free-photo/narrow-road-green-grassy-field-surrounded-by-green-trees-with-bright-sun-background_181624-9968.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}
.card{
  margin-top: 70px;
  min-width: 30vw;
  min-height: 450px;
  border: 2px solid black;
  
  display: flex;
  justify-content: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  
  
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.inputData{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.inputField{
  height: 50px;
  width: 320px;
  border-radius: 50px;
  padding-left: 15px;
  font-size: 20px;
  font-weight: bolder;
  border: none;
}
.inputField:active{
  border: none;
}
.warning{
  padding-top: 30px;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.info{
  margin-top: 20px;
}
.location{
  display: flex;
  justify-content: center;
  font-size: 45px;
}
.temp{
  text-align: center;
  font-size: 55px;

}
.minmax{
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
}